.task-tag--red {
  background-color: crimson;
}

.task-tag--blue {
  background-color: deepskyblue;
}

.task--tag--chart {
  background-color: chartreuse;
}

.task-tag--cadet {
  background-color: cadetblue;
}

.task--tag--violet {
  background-color: blueviolet;
}

.task--tag--coral {
  background-color: coral;
}
