@keyframes appearMenu {
    0% {
      transform: scale(1.2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes appearTask {
    0% {
      opacity: 0;
      color: green;
      transform: translate(-50px, 0);
    }
    100% {
      opacity: 1;
      color: white;
      transform: translate(0, 0);
    }
  }
  
  @keyframes disappearUl {
    0% {
      opacity: 1;
    }
    50% {
      transform: translate(-10px, 0px);
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes disappearTask {
    0% {
      opacity: 1;
      transform: translate(0px, 0);
    }
    100% {
      color: red;
      opacity: 0;
      transform: translate(-50px, 0);
    }
  }
  
  @keyframes curtainDown {
    0% {
      opacity: 0;
      transform: translate(0px, -50px);
    }
    100% {
      opacity: 1;
      transform: translate(0px, 0);
    }
  }
  
  @keyframes curtainUp {
    0% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    100% {
      opacity: 0;
      transform: translate(0px, -50px);
    }
  }