@mixin theme($color-theme) {
    @if ($color-theme == "light") {
      --header-bg-color: #2c5ba1;
      --main-bg-color: #fcfcfc;
      --font-color: #282828;
      --input-bg-color: #fcfcfc;
    }
    @if ($color-theme == "navy") {
      --header-bg-color: #17425e;
      --main-bg-color: #13293d;
      --font-color: white;
      --input-bg-color: #8d99ae;
    }
  }
  
  .light-theme {
    @include theme($color-theme: "light");
  }
  
  .navy-theme {
    @include theme($color-theme: "navy");
  }