@keyframes appearMenu {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes appearTask {
  0% {
    opacity: 0;
    color: green;
    transform: translate(-50px, 0);
  }
  100% {
    opacity: 1;
    color: white;
    transform: translate(0, 0);
  }
}
@keyframes disappearUl {
  0% {
    opacity: 1;
  }
  50% {
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappearTask {
  0% {
    opacity: 1;
    transform: translate(0px, 0);
  }
  100% {
    color: red;
    opacity: 0;
    transform: translate(-50px, 0);
  }
}
@keyframes curtainDown {
  0% {
    opacity: 0;
    transform: translate(0px, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0);
  }
}
@keyframes curtainUp {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(0px, -50px);
  }
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: rgb(219, 198, 2);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

.slider::after {
  width: 20px;
  height: 20px;
  left: 20%;
  top: 10%;
  border-radius: 50%;
  position: absolute;
  content: "";
  background-color: rgb(0, 0, 0);
  transition: ease 0.4s;
}

input:checked + .slider::after {
  left: 80%;
  width: 0px;
  height: 0px;
}

.light-theme {
  --header-bg-color: #2c5ba1;
  --main-bg-color: #fcfcfc;
  --font-color: #282828;
  --input-bg-color: #fcfcfc;
}

.navy-theme {
  --header-bg-color: #17425e;
  --main-bg-color: #13293d;
  --font-color: white;
  --input-bg-color: #8d99ae;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
body header {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background-color: var(--header-bg-color);
}
body header input {
  height: 38px;
  width: 300px;
  border-radius: 50px;
  padding-left: 15px;
  outline: 0;
  color: var(--font-color);
  font-size: 20px;
  background-color: transparent;
  border: none;
}
body header input::placeholder {
  color: var(--font-color);
}
body header #searchTasks {
  display: flex;
  align-items: center;
  background-color: var(--input-bg-color);
  border-radius: 30px;
}
body header #searchTasks #eraseSearchBarBtn {
  background-color: transparent;
  border: none;
  padding-right: 10px;
  cursor: pointer;
}
body header #burguerMenuBtn {
  background-color: transparent;
  border: none;
  outline: 0;
}
body header #loginSideMenuBtn {
  height: 50px;
  width: 50px;
  padding: 5px;
  border-radius: 100px;
  outline: 0;
  border: none;
  background-color: var(--input-bg-color);
  cursor: pointer;
}
body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
  overflow: hidden;
  box-sizing: border-box;
}
body main form {
  display: flex;
  padding: 10px;
  width: 100%;
  flex-direction: column;
  width: 40%;
  height: 300px;
  align-items: center;
  justify-content: center;
}
body main form input {
  width: 60%;
  height: 60px;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 1px 5px black;
  transition: all 0.4s;
  background-color: var(--input-bg-color);
  color: var(--font-color);
}
body main form input::placeholder {
  color: var(--font-color);
}
body main form button {
  margin-left: 20px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body main form button img {
  height: 30px;
}
body main form #addTaskBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-color);
  margin-top: 15px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  font-size: 18px;
}
body main ul {
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  padding-left: 200px;
  overflow-y: scroll;
}
body main ul button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 25px;
  padding-left: 20px;
}
body main ul button img {
  height: 20px;
}
body main ul li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 30px;
  width: 60%;
  max-height: 30px;
  min-width: fit-content;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 0px 20px 0px 20px;
  list-style-type: none;
}
body main ul li img {
  height: 20px;
}
body main ul li input {
  position: relative;
  margin: 8px;
  width: 100px;
}
body main ul li input:hover {
  width: 150px;
}
body main ul li input:active {
  width: 150px;
}
body main ul li form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main ul li span {
  margin-left: 10px;
  background: rgb(141, 200, 175);
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}
body main ul li :hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
body main #loginSideBar {
  height: 100vh;
  position: fixed;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 0;
  background-color: var(--header-bg-color);
  z-index: 1;
  transition: width 0.4s;
}
body main #loginSideBar img:nth-child(2) {
  margin-top: 100px;
  height: 130px;
  width: fit-content;
  background-color: var(--input-bg-color);
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0px 5px 10px black;
}
body main #loginSideBar #loginMenuBtnContainer {
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
}
body main #loginSideBar #loginMenuBtnContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body main #loginSideBar #loginMenuBtnContainer button > img {
  height: 60px;
}
body main #loginSideBar #loginMenuBtnContainer button:nth-child(2) {
  height: 10px;
  margin: 10px;
}
body main #loginSideBar #loginMenuBtnContainer button:nth-child(2) img {
  height: 40px;
}
body main #loginSideBar #loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}
body main #loginSideBar #loginForm input {
  width: 300px;
  height: 40px;
  margin-top: 25px;
}
body main #loginSideBar #loginForm #loginFormSubBtn {
  width: 85px;
  height: 30px;
  background-color: var(--input-bg-color);
  margin-top: 20px;
  box-shadow: 1px 0px 5px black;
  color: var(--font-color);
}
body main .loginSideMenu-show {
  display: flex;
  width: 390px;
}
body main .loginSideMenu-hidden {
  width: 0;
}
body main .loginSideMenu-nodisplay {
  display: none;
  width: 0;
}
body main #seeMoreDiv button {
  margin: 8px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 2px 5px black;
  transition: 0.3s;
}
body main #seeMoreDiv button:hover {
  transform: scale(1.1);
  background-color: rgb(142, 200, 178);
  color: white;
}
body main #seeMoreDiv button:active {
  transform: scale(1.1);
  background-color: gray;
  color: white;
}
body main .date-appear {
  display: block;
  animation: curtainDown 0.5s ease 0s 1 normal;
}
body main .tag-appear {
  display: block;
  animation: curtainDown 0.5s ease 0s 1 normal;
}
body main .description-appear {
  display: block;
  animation: curtainDown 0.5s ease 0s 1 normal;
}
body main .date-disappear {
  animation: curtainUp 0.5s ease 0s 1 normal;
  display: none;
}
body main .tag-disappear {
  display: none;
  animation: curtainUp 0.5s ease 0s 1 normal;
}
body main .description-disappear {
  display: none;
  animation: curtainUp 0.5s ease 0s 1 normal;
}
body main #inputContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}
body main #inputContainer input {
  margin-top: 10px;
  height: 50px;
}

#list-disappear {
  animation: disappearUl 0.5s ease 0s 1 normal;
}

#deleteBtn {
  transition: 0.5s;
}

#deleteBtn:hover {
  transform: scale(1.1);
}

#titleTab {
  margin-top: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

#titleTab :last-child {
  display: flex;
  align-items: center;
}

#saveBtn {
  height: 30px;
  border: 2px solid;
  background: white;
  border-radius: 5px;
}

#seeMoreBtn:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

#seeMoreDiv {
  margin-top: 0px;
  border: 5px solid rgb(142, 200, 178);
  padding: 10px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  box-shadow: 1px 2px 10px black;
  animation: appearMenu 0.5s ease 0s 1 normal;
}

.appearLi {
  animation: appearTask 0.5s ease 0s 1 normal;
}

.disappearLi {
  animation: disappearTask 0.5s ease 0s 1 normal;
}

.editForm {
  display: none;
}

.editForm-active {
  animation: appearMenu 0.5s ease 0s 1 normal;
  border: 2px white solid;
  padding: 10px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
}
.editForm-active form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editForm-active form input {
  padding-left: 15px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
}
.editForm-active form button {
  height: 40px;
  width: fit-content;
  border: 2px white solid;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=output.css.map */
